= simple_form_for @list_result_set, html:{class:'form-horizontal analyze-form'}, url:list_results_path  do |f|
  = f.error_notification
  = f.input  :query, label:'DOIs', as: :text, input_html: { placeholder:'Enter a list of PLOS DOIs' }
  .form-actions
    = f.button :submit, name:nil, value:'Analyze', class:'btn btn-primary'
