%h3
  = image_tag('spinner.gif')
  Analysing query '#{@result_set.query}' (limit #{@result_set.limit})

-# Refresh the page in 30 seconds
- content_for :head do
  %meta{ 'http-equiv' => 'refresh', 'content' => '30'}
