%h3 References for DOI #{@paper.doi}

.results
  .span9
    = text_area_tag :references_json, JSON.pretty_generate(@paper.result), readonly:true
    = link_to 'Download JSON', paper_path(@paper.doi, format:'json'), class:'btn btn-primary pull-right'

%br