.messages {
  div {
    background-color: lightgoldenrodyellow;

    &.alert {
      background-color: #ffbbbb;
    }

    &.notice {
      background-color: bbffbb;
    }

  }
}

.results textarea {
  width: 100%;
  height: 400px;
}

th {
  text-align: left;
}

td.number {
  text-align: center;
}

.span4 .simple_form, .span3 .simple_form {
  label.control-label { width: 60px; }
  div.controls        {margin-left:80px; }
}

form.analyze-form {
  textarea {
    height: 71px;
    width: 280px;
  }
}